<%= form_with(model: letter, local: true) do |form| %>
  <% if letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% letter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :story %>
    <%= form.text_area :story %>
  </div>

<div class="field">
    <%= form.label :date %>
    <%= form.text_area :date %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
