<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @letter.name %>
</p>

<p>
  <strong>Story:</strong>
  <%= @letter.story %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
